<div class="mt-8 text-{{ section_color }}-text" {{ block.shopify_attributes }}>
  {%- if block.settings.heading != '' -%}
  <h2 class="font-heading {{ settings.base_heading_size }}">{{ block.settings.heading }}</h2>
  {%- endif -%}
  <ul class="{%- if block.settings.heading != '' -%}mt-4{% endif %} space-y-2">
    {%- case product.metafields.my_fields.discomfort -%}
    {% when '1' %}
    <li class="flex items-center justify-start">
      <span class="inline-block w-5 h-5 mr-2">
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="9" cy="9" r="8.5" stroke="black"/>
          <line x1="6.5" y1="5" x2="6.5" y2="8" stroke="black"/>
          <line x1="12" y1="12.5" x2="6" y2="12.5" stroke="black"/>
          <line x1="11.5" y1="5" x2="11.5" y2="8" stroke="black"/>
        </svg>
      </span>
      <span class="text-sm">{{ block.settings.text_mild }}</span>
    </li>
    {% when '2' %}
    <li class="flex items-center justify-start">
      <span class="inline-block w-5 h-5 mr-2">
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="9" cy="9" r="8.5" stroke="black"/>
          <line x1="6.5" y1="5" x2="6.5" y2="8" stroke="black"/>
          <line x1="12" y1="12.5" x2="6" y2="12.5" stroke="black"/>
          <line x1="11.5" y1="5" x2="11.5" y2="8" stroke="black"/>
        </svg>
      </span>
      <span class="text-sm">{{ block.settings.text_medium }}</span>
    </li>
    {% when '3' %}
    <li class="flex items-center justify-start">
      <span class="inline-block w-5 h-5 mr-2">
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="9" cy="9" r="8.5" stroke="black"/>
          <line x1="6.5" y1="5" x2="6.5" y2="8" stroke="black"/>
          <line x1="12" y1="12.5" x2="6" y2="12.5" stroke="black"/>
          <line x1="11.5" y1="5" x2="11.5" y2="8" stroke="black"/>
        </svg>
      </span>
      <span class="text-sm">{{ block.settings.text_intense }}</span>
    </li>
    {%- endcase -%}
  </ul>
</div>