{%- if block.settings.text_color == 'text' -%}
  {% capture color_class %}text-{{ section_color }}-text{% endcapture %}
{%- else -%}
  {% capture color_class %}text-{{ section_color }}-meta{% endcapture %}
{%- endif -%}
<div class="mt-8 {{ color_class }}" {{ block.shopify_attributes }}>
  {%- if block.settings.heading != '' -%}
  <h2 class="font-heading {{ settings.base_heading_size }}">{{ block.settings.heading }}</h2>
  {%- endif -%}
  <ul class="{%- if block.settings.heading != '' -%}mt-4{% endif %} space-y-2">
    {%- for i in (1..5) -%}
    {%- capture icon %}icon_{{ i }}{%- endcapture -%}
    {%- capture text %}text_{{ i }}{%- endcapture -%}
    {%- liquid
      assign icon = block.settings[icon]
      assign text = block.settings[text]
    -%}
    {%- if text != '' -%}
    <li class="flex items-center justify-start">
      <span class="inline-block w-5 h-5 mr-2">{% render 'product-icon', icon: icon %}</span>
      <span class="text-sm">{{ text }}</span>
    </li>
    {%- endif -%}
    {%- endfor -%}
  </ul>
</div>