<div class="section-x-padding py-theme max-w-md mx-auto" x-data="BaselineLogin()" x-init="mounted()">
  {% form 'reset_customer_password' %}
    <h1 class="font-heading text-2xl mb-2">{{ 'customer.reset_password.title' | t }}</h1>

    <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>

    {% if form.errors %}
      <div class="mt-4 text-primary-accent" tabindex="-1" data-login-error>{{ form.errors | default_errors }}</div>
    {% endif %}

    <label for="ResetPassword" class="block mt-4">
      {{ 'customer.reset_password.password' | t }}
    </label>
    <input type="password"
      name="customer[password]"
      id="ResetPassword"
      class="w-full py-1 bg-transparent border-b-text border-current {% if form.errors contains 'password' %}border-theme-color{% endif %}">

    <label for="PasswordConfirmation" class="block mt-4">
      {{ 'customer.reset_password.password_confirm' | t }}
    </label>
    <input type="password"
      name="customer[password_confirmation]"
      id="PasswordConfirmation"
      class="w-full py-1 bg-transparent border-b-text border-current {% if form.errors contains 'password_confirmation' %}border-theme-color{% endif %}">

    <div class="mt-4">
      <input type="submit" class="button" value="{{ 'customer.reset_password.submit' | t }}">
    </div>
  {% endform %}
</div>
