<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ request.locale.iso_code }}">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7NYTE70745"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7NYTE70745');
</script>

  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_accent }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
  <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">

  {%- liquid
    assign body_font = settings.font_body
    assign heading_font = settings.font_heading
    assign body_font_bolder = body_font | font_modify: 'weight', 'bolder'
    assign body_font_bold = body_font | font_modify: 'weight', 'bold'
    assign body_font_italic = body_font | font_modify: 'style', 'italic'
    assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
  -%}

  {% comment %}theme-check-disable UndefinedObject{% endcomment %}
  {{ preload_tags }}
  {% comment %}theme-check-enable UndefinedObject{% endcomment %}

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {{ page_title }}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- if template == 'password' -%}
      {{ shop.name }}
    {%- else -%}
      {%- unless page_title contains shop.name -%}
        &ndash; {{ shop.name }}
      {%- endunless -%}
    {%- endif -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  <!-- Start IE11 compatibility -->
  <script>
    if (!!window.MSInputMethodContext && !!document.documentMode) {
      // CSSVar Polyfill
      document.write('<script src="https://cdn.jsdelivr.net/gh/nuxodin/ie11CustomProperties@4.1.0/ie11CustomProperties.min.js"><\x2fscript>');

      document.documentElement.className = document.documentElement.className.replace('js', 'no-js');

      document.addEventListener('DOMContentLoaded', function () {
        var elsToLazyload = document.querySelectorAll('.lazyload');
        for (var i = 0; i < elsToLazyload.length; i++) {
          var elToLazyLoad = elsToLazyload[i];
          elToLazyLoad.removeAttribute('src');
          var src = elToLazyLoad.getAttribute('data-src').replace('_{width}x.', '_600x.');
          elToLazyLoad.setAttribute('src', src);
          elToLazyLoad.classList.remove('lazyload');
          elToLazyLoad.classList.add('lazyloaded');
        }
      });
    }
  </script>
  <!-- End IE11 compatibility -->
  {% render 'css-variables' %}
  {% render 'custom-fonts' %}
  <style>
    @keyframes marquee {
      0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
      }
      100% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
      }
    }
  </style>
  {% render 'critical-css' %}
  {% render 'social-meta-tags' %}
  {% render 'style-tags', layout: 'theme' %}

  {% if template contains 'customers' %}
    <script src="{{ "shopify_common.js" | shopify_asset_url }}" defer="defer"></script>
  {% endif %}

  <style>
    {{ heading_font | font_face: font_display: 'swap' }}
    {{ body_font | font_face: font_display: 'swap' }}
    {{ body_font_bold | font_face: font_display: 'swap' }}
    {{ body_font_bolder | font_face: font_display: 'swap' }}
    {{ body_font_italic | font_face: font_display: 'swap' }}
    {{ body_font_bold_italic | font_face: font_display: 'swap' }}
  </style>

  {% render 'script-tags', layout: 'theme' %}

  {{ content_for_header }}
</head>

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }} {% if settings.buttons_show_arrow %}show-button-arrows{% endif %}">
  <a class="in-page-link skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>
  {%- liquid
      section 'sidebar'
      if settings.ajax_cart_method == 'drawer'
        render 'cart-drawer'
      endif
      render 'availability-drawer'
      section 'announcement-bar'
  -%}
  <div class="relative overflow-hidden">
    {% if template.name == 'index' %}
      <div id="sticky-positioner"></div>
    {% endif %}
    {% section 'header' %}
    <main role="main" id="MainContent">
      {{ content_for_layout }}
    </main>
    {% section 'footer' %}
  </div>
  {% section 'popup' %}

  <div id="screenreader-announce" class="visually-hidden" aria-live="polite" role="status"></div>

  <ul hidden>
    <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
    <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
  </ul>

  <script>
    window.theme = {
      strings: {
        loading: {{ 'general.search.loading' | t | json }},
        itemCountOne: {{ 'cart.popup.cart_count.one' | t | json }},
        itemCountOther: {{ 'cart.popup.cart_count.other' | t | json }},
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        regularPrice: {{ 'products.product.regular_price' | t | json }},
        salePrice: {{ 'products.product.sale_price' | t | json }},
        sale: {{ 'products.product.on_sale' | t | json }},
        unitPrice: {{ 'products.product.unit_price_label' | t | json }},
        unitPriceSeparator: {{ 'general.accessibility.unit_price_separator' | t | json }},
        cartEmpty: {{ 'cart.general.empty' | t | json }},
        cartCookies: {{ 'cart.general.cookies_required' | t | json }},
        update: {{ 'cart.label.update' | t | json }},
        quantity: {{ 'cart.label.quantity' | t | json }},
        discountedTotal: {{ 'cart.label.discounted_total' | t | json }},
        regularTotal: {{ 'cart.label.regular_total' | t | json }},
        priceColumn: {{ 'cart.label.price_column' | t | json }},
        addedToCart: {{ 'cart.popup.added_to_cart' | t | append: '!' | json }},
        cartAddError: {{ 'cart.general.cart_add_error' | t | json }},
        cartError: {{ 'cart.general.cart_error' | t | json }},
        cartQuantityError: {{ 'cart.general.cart_quantity_error_html' | t | json }}
      },
      routes: {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}'
      },
      moneyFormat: {{ shop.money_format | json }},
      cartItemCount: {{ cart.item_count | json }},
      cartMethod: {{ settings.ajax_cart_method | json }}
    };
  </script>
</body>
</html>
