{%- liquid
  assign section_color = section.settings.color_scheme
  assign display = section.settings.display
  assign text = section.settings.text
  assign link = section.settings.link
-%}

{%- if section.settings.show_announcement_bar -%}
  {%- if section.settings.home_page_only == false or template.name == 'index' -%}
    {%- if display == 'static' -%}
      <div class="bg-{{ section_color }}-background text-{{ section_color }}-text border-b-grid border-grid-color text-sm text-center py-2" role="complementary">
        {%- if link != blank -%}
          <a class="section-x-padding hover:text-{{ section_color }}-accent" href="{{ link }}">
            {{ text | escape }}
          </a>
        {%- else -%}
          <p class="section-x-padding">{{ text | escape }}</p>
        {%- endif -%}
      </div>
    {%- else -%}
      <div class="border-b-grid border-grid-color" role="complementary">
        {%- liquid
          assign speed_number = section.settings.speed | plus: 0
          assign direction = section.settings.direction
          assign repeat_text = section.settings.repeat_text 
        -%}
        {% render 'marquee' with
          id: section.id
          speed_number: speed_number,
          link: link,
          text: text,
          section_color: section_color,
          direction: direction,
          repeat_text: repeat_text
        %}
      </div>
    {%- endif -%}
  {%- endif -%}
{%- endif -%}

{% schema %}
  {
    "name": "Announcement bar",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_announcement_bar",
        "label": "Show announcement bar",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "home_page_only",
        "label": "Home page only",
        "default": true
      },
      {
        "type": "select",
        "id": "display",
        "label": "Display",
        "options": [
           { "value": "marquee", "label": "Marquee"},
           { "value": "static", "label": "Static"}
        ],
        "default":   "marquee"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link",
        "info": "Optional"
      },
      {
        "type": "select",
        "id": "color_scheme",
        "label": "Color scheme",
        "options": [
            { "value": "primary", "label": "Primary"},
            { "value": "secondary", "label": "Secondary"},
            { "value": "tertiary", "label": "Tertiary"}
        ],
        "default":   "secondary"
      },
      {
        "type":      "header",
        "content":   "Marquee"
      },
      {
        "type": "range",
        "id": "speed",
        "min": 20,
        "max": 300,
        "step": 10,
        "label": "Speed",
        "default": 180
      },
      {
        "type": "select",
        "id": "direction",
        "label": "Direction",
        "options": [
            { "value": "", "label": "Right to left"},
            { "value": "reverse", "label": "Left to right"}
        ],
        "default":   ""
      },
      {
        "type": "checkbox",
        "id": "repeat_text",
        "default": true,
        "label": "Repeat text",
        "info": "Automatically repeat text to create an infinity effect."
      }
    ]
  }
{% endschema %}
