{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add "Blog posts" section in the Theme Editor.

  Theme Store required settings
  - Heading: title of the blog posts section
  - Blog (which blog category to show in your store)

  Theme Store optional settings
  - Number of posts to show
  - Show author
  - Show date
{%- endcomment -%}
{%- liquid
  assign section_color = section.settings.color_scheme 
  assign blog = blogs[section.settings.blog] 
  assign show_view_all = section.settings.show_view_all 
  assign post_heading_level = 'h2' 
  assign ratio = section.settings.crop | plus: 0 
  assign view_all_text = 'blogs.article.view_all_blogs' | t: blog: blog.title 
  assign counter = 0
  case section.settings.post_limit
    when 2
      assign desktop_col_span = 'lg:col-span-6'
    when 3
      assign desktop_col_span = 'lg:col-span-4'
    when 4
      assign desktop_col_span = 'lg:col-span-3'
  endcase
-%}

{%- capture placeholder_image -%}
  <div class="bg-{{ section_color }}-background {% if settings.fill_image_to_border_edge %}border-b-grid border-grid-color{% else %}p-2 lg:p-4{% endif %}">
    <div class="relative h-full w-full bg-placeholder-bg">
      {% render 'placeholder-crop' with
        ratio: ratio,
        crop: section.settings.crop
      %}
    </div>
  </div>
{%- endcapture -%}

<section class="bg-{{ section_color }}-background text-{{ section_color }}-text border-t-grid border-b-grid border-grid-color">

  {% if section.settings.title != '' %}
    {%- assign post_heading_level = 'h3' -%}
    {%- render 'section-title',
      title: section.settings.title,
      show_link: show_view_all,
      link_text: view_all_text,
      link_url: blog.url,
      section_color: section_color
    -%}
  {% endif %}
  <ol class="grid grid-cols-1 lg:grid-cols-12 gap-gutter bg-border">
    {% for article in blog.articles limit: section.settings.post_limit %}
      {%- assign counter = counter | plus: 1 -%}
      <li class="{{ desktop_col_span }} relative bg-{{ section_color }}-background text-{{ section_color }}-text">
        <div class="group block h-full">
          {%- if section.settings.blog_show_images -%}
            {%- if article.image != blank -%}
              <div class="full-h bg-{{ section_color }}-background {% if settings.fill_image_to_border_edge %}border-b-grid border-grid-color{% else %}pt-2 px-2 lg:pt-4 lg:px-4{% endif %}">
                <div class="relative">
                  {% render 'image-crop' with
                    image: article.image,
                    ratio: ratio
                  %}
                </div>
              </div>
            {%- endif -%}
          {%- endif -%}

          <div class="py-theme section-x-padding">
            <{{ post_heading_level }} class="font-heading {{ settings.secondary_heading_size }} break-words">{{ article.title }}</{{ post_heading_level }}>

            {% if section.settings.blog_show_author %}
              <p class="mt-2">{{ 'blogs.article.by_author' | t: author: article.author }}</p>
            {% endif %}

            {% if section.settings.blog_show_date %}
              <p class="mt-2">
                {{ article.published_at | time_tag: format: 'month_day_year' }}
              </p>
            {% endif %}

            <div class="rte mt-4 font-heading capitalize w-2/3">
              {% if article.excerpt.size > 0 %}
                {{ article.excerpt }}
              {% else %}
                {{ article.content | strip_html | truncate: 150 }}
              {% endif %}
            </div>


            <div class="mt-4">
              <a class="increase-target hover:text-{{ section_color }}-accent font-heading text-base align-top inline-flex items-center justify-center {% if settings.links_show_underline %}border-b-text border-{{ section_color }}-text hover:border-{{ section_color }}-accent pb-1{% endif %}" href="{{ article.url }}" aria-label="{{ 'blogs.article.read_more_title' | t: title: article.title }}">
                <span class="{% if settings.links_uppercase %}uppercase{% endif %}">{{ 'blogs.article.read_more' | t }}{% if settings.links_show_arrow %}&nbsp;&rarr;{% endif %}</span>
              </a>
            </div>

          </div>
        </div>
      </li>
    {% else %}
      {%- for i in (1..section.settings.post_limit) -%}
        <li class="{{ desktop_col_span }} relative bg-{{ section_color }}-background text-{{ section_color }}-text">
          <div class="group block hover:text-{{ section_color }}-accent h-full">
            {%- if section.settings.blog_show_images -%}
              {{ placeholder_image }}
            {%- endif -%}

            <div class="section-x-padding py-theme">
              <{{ post_heading_level }} class="font-heading {{ settings.base_heading_size }}">{{ 'homepage.onboarding.blog_title' | t }}</{{ post_heading_level }}>

              {% if section.settings.blog_show_author %}
                <p class="mt-1">{{ 'homepage.onboarding.blog_author' | t }}</p>
              {% endif %}

              <div class="rte mt-4">
                {{ 'homepage.onboarding.blog_excerpt' | t }}
              </div>

              <div class="mt-4">
                <a class="increase-target hover:text-{{ section_color }}-accent text-base align-top inline-flex items-center justify-center {% if settings.links_show_underline %}border-b-text border-{{ section_color }}-text hover:border-{{ section_color }}-accent pb-1{% endif %}">
                  <span class="{% if settings.links_uppercase %}uppercase{% endif %}">{{ 'blogs.article.read_more' | t }}{% if settings.links_show_arrow %}&nbsp;&rarr;{% endif %}</span>
                </a>
              </div>
            </div>
          </a>
        </li>
      {%- endfor -%}
    {% endfor %}
    {%- if blog.articles.size > 0 -%}
      {%- liquid
        assign items_on_last_row = counter | modulo: section.settings.post_limit
        assign placeholder_width = section.settings.post_limit | minus: items_on_last_row
      -%}
      {%- if items_on_last_row != 0 -%}
        <li class="none absolute lg:static lg:block lg:col-span-{{ placeholder_width }} bg-{{ section_color }}-background" aria-hidden="true" role="presentation"></li>
      {%- endif -%}
    {%- endif -%}
  </ol>

  {%- render 'view-all' with
    title: section.settings.title,
    show_link: show_view_all,
    link_text: view_all_text,
    link_url: blog.url,
    section_color: section_color
  -%}
</section>

{% schema %}
  {
    "name": "Blog posts",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Blog posts"
      },
      {
        "id": "blog",
        "type": "blog",
        "label": "Blog"
      },
      {
        "type": "range",
        "id": "post_limit",
        "label": "Posts",
        "min": 2,
        "max": 4,
        "step": 1,
        "default": 3
      },
      {
        "type": "checkbox",
        "id": "blog_show_images",
        "label": "Show post images",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_view_all",
        "label": {
          "en": "Show 'view all' link"
        },
        "default": false
      },
      {
        "type": "select",
        "id": "crop",
        "label": "Crop images",
        "options": [
          {
            "value": "0",
            "label": "No crop"
          },
          {
            "value": "1.3",
            "label": "Landscape"
          },
          {
            "value": "1",
            "label": "Square"
          },
          {
            "value": "0.8",
            "label": "Portrait"
          }
        ],
        "default": "1"
      },
      {
        "type":      "header",
        "content":   "Color"
      },
      {
        "type": "select",
        "id": "color_scheme",
        "label": "Color scheme",
        "options": [
            { "value": "primary", "label": "Primary"},
            { "value": "secondary", "label": "Secondary"},
            { "value": "tertiary", "label": "Tertiary"}
        ],
        "default":   "primary"
      }
    ],
    "presets": [
      {
        "name": "Blog posts",
        "settings": {
          "blog": "News",
          "post_limit": 3
        }
      }
    ]
  }
{% endschema %}
