{% comment %}theme-check-disable DeprecateLazysizes,ImgWidthAndHeight{% endcomment %}
{%- liquid
  assign section_color = section.settings.color_scheme 
  assign text_size_mobile = section.settings.text_size_mobile
  assign text_size_desktop = section.settings.text_size_desktop 
  assign text_align = section.settings.text_alignment 
  assign text_position = section.settings.text_position 
  assign superscript = section.settings.superscript
  assign image_position = section.settings.image_position 
  assign fill_image = section.settings.fill_image
  assign indent_image = section.settings.indent_image 
  case section.settings.image_size 
    when 'third' 
      assign text_width_desktop = 'lg:col-span-8' 
      if image_position == 'right' 
        assign image_width_desktop = 'lg:col-start-9 lg:col-end-13' 
      else 
        assign image_width_desktop = 'lg:col-span-4' 
      endif 
    when 'half' 
      assign text_width_desktop = 'lg:col-span-6' 
      if image_position == 'right' 
        assign image_width_desktop = 'lg:col-start-7 lg:col-end-13' 
      else 
        assign image_width_desktop = 'lg:col-span-6' 
      endif 
    when 'two_thirds' 
      assign text_width_desktop = 'lg:col-span-4'
      if image_position == 'right' 
        assign image_width_desktop = 'lg:col-start-5 lg:col-end-13' 
      else 
        assign image_width_desktop = 'lg:col-span-8' 
      endif 
  endcase 
-%}
{% comment %}theme-check-enable DeprecateLazysizes,ImgWidthAndHeight{% endcomment %}

<section class="navigation-with-image grid grid-cols-1 lg:grid-cols-12 grid-flow-row-dense bg-border gap-gutter  border-t-grid border-grid-color overflow-x-hidden" x-data="{ current_link: '' }">
  <div class="bg-{{ section_color }}-background {{ image_width_desktop }} {% unless settings.fill_image_to_border_edge %}p-2 lg:p-4 h-full w-full{% endunless %} {% if indent_image %}p-8 lg:p-16{% endif %}">
    <div class="relative min-h-full">
      {%- if section.settings.image != blank -%}
        {%- assign image = section.settings.image -%}
        {%- if fill_image -%}
          <div class="hidden lg:block">
            {% render 'image-object' with
              image: image
            %}
          </div>
          <div class="block lg:hidden">
            {% render 'responsive-image' with image: image %}
          </div>
        {%- else -%}
          {% render 'responsive-image' with image: image %}
        {%- endif -%}
      {%- else -%}
        <div class="bg-placeholder-bg">
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg w-full h-full text-text fill-current' }}
        </div>
      {%- endif -%}

      <div class="hover-images-container">
      <div x-show.transition.opacity.duration.200ms="current_link !== ''" class="bg-{{ section_color }}-background absolute top-0 right-0 bottom-0 left-0"></div>
      {%- for block in section.blocks -%}
        {%- liquid
          assign image = block.settings.image 
        -%}
        {%- if image != blank -%}
          {%- liquid
            assign image_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.'
            assign aspect_ratio = image.aspect_ratio
          -%}
          <img class="lazyload block absolute top-0 left-0 w-full h-full object-cover"
              x-show.transition.opacity.duration.200ms="current_link == '{{ block.id | handleize }}'"
              src="{{ image | img_url: '300x' }}"
              srcset="data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='{{ image.width }}'%20height='{{ image.height }}'></svg>"
              data-src="{{ image_url }}"
              data-aspectratio="{{ aspect_ratio }}"
              data-sizes="auto"
              tabindex="-1"
              alt="{{ image.alt }}">  
        {%- endif -%}
      {%- endfor -%}
      </div>
    </div>
  </div>

  <div class="{{ text_width_desktop }} bg-{{ section_color }}-background text-{{ section_color }}-text relative section-x-padding py-theme flex {{ text_position }}">
    <nav role="navigation" class="{{ text_size_mobile }} {{ text_size_desktop }} {{ text_align }} w-full">
      <ul class="font-heading inline-block max-w-full break-words">
        {%- for block in section.blocks -%}
          {%- liquid
            assign link = block.settings.link
            assign text = block.settings.text
            assign image = block.settings.image 
          -%}
          {%- if superscript == 'index' %}
          {%- capture superscript_content -%}
          <sup class="pr-1">{{ forloop.index }}</sup>
          {%- endcapture -%}
          {%- endif -%}
          <li {{ block.shopify_attributes }}>
            <div class=" inline-block relative max-w-full">
              <a href="{{ link }}" class="font-heading  hover:text-{{ section_color }}-accent break-words" x-on:mouseenter="current_link = '{% if image != blank %}{{ block.id | handleize }}{% else %}''{% endif %}'" x-on:mouseleave="setTimeout(() => { if(current_link == '{{ block.id | handleize }}') {current_link = ''}  }, 200)">
              {% if superscript == 'index' %}{{ superscript_content }}{%- endif -%}<span class="hover:underline">{{ text }}</span>
              </a>
            </div>
          </li>
        {%- endfor -%}
      </ul>
    </nav>
  </div>
</section>

{% schema %}
  {
    "name": "Custom links with image",
    "settings": [
      {
        "type": "select",
        "id": "text_size_mobile",
        "label": "Text size - mobile",
        "options": [
          { "value": "text-sm", "label": "S"},
          { "value": "text-base", "label": "M"},
          { "value": "text-lg", "label": "L"},
          { "value": "text-xl", "label": "XL"},
          { "value": "text-2xl", "label": "2XL"}
        ],
        "default":   "text-2xl"
      },
      {
        "type": "select",
        "id": "text_size_desktop",
        "label": "Text size - desktop",
        "options": [
          { "value": "default", "label": "Same as mobile"},
          { "value": "lg:text-2xl","label":  "2XL"},
          { "value": "lg:text-3xl", "label": "3XL"},
          { "value": "lg:text-4xl", "label": "4XL"},
          { "value": "lg:text-5xl", "label": "5XL" },
          { "value": "lg:text-6xl", "label": "6XL" },
          { "value": "lg:text-7xl", "label": "7XL" }
        ],
        "default":   "lg:text-5xl"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "options": [
          { "value": "text-left", "label": "Left"},
          { "value": "text-center", "label": "Center"},
          { "value": "text-right", "label": "Right"}
        ],
        "default":   "text-left"
      },
      {
        "type": "select",
        "id": "text_position",
        "label": "Text position",
        "options": [
          { "value": "items-start", "label": "Top"},
          { "value": "items-center", "label": "Middle"},
          { "value": "items-end", "label": "Bottom"}
        ],
        "default":   "items-center"
      },
      {
        "type": "select",
        "id": "superscript",
        "label": "Superscript",
        "options": [
            { "value": "none", "label": "None"},
            { "value": "index", "label": "Index"}
        ],
        "default":   "none"
      },
      {
        "type":      "header",
        "content":   "Image"
      },
      {
        "id": "image",
        "type": "image_picker",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "image_position",
        "label": "Image position on desktop",
        "default": "right",
        "options": [
          {
            "value": "right",
            "label": "Right"
          },
          {
            "value": "left",
            "label": "Left"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_size",
        "label": "Image size on desktop",
        "default": "half",
        "options": [
          {
            "value": "third",
            "label": "One third"
          },
          {
            "value": "half",
            "label": "One half"
          },
          {
            "value": "two_thirds",
            "label": "Two thirds"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "fill_image",
        "label": "Fit image to text",
        "default": false,
        "info": "This setting will crop the image on desktop"
      },
      {
        "type": "checkbox",
        "id": "indent_image",
        "label": "Indent image",
        "default": false
      },
      {
        "type":      "header",
        "content":   "Color"
      },
      {
        "type": "select",
        "id": "color_scheme",
        "label": "Color scheme",
        "options": [
            { "value": "primary", "label": "Primary"},
            { "value": "secondary", "label": "Secondary"},
            { "value": "tertiary", "label": "Tertiary"}
        ],
        "default":   "primary"
      }
    ],
    "blocks": [
      {
        "name": "link",
        "type": "link",
        "settings": [
          {
            "type": "url",
            "id": "link",
            "label": "Link",
            "default": "/collections/all"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Link text",
            "default": "Link"
          },
          {
            "id": "image",
            "type": "image_picker",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom links with image",
        "blocks": [
          {
            "type": "link"
          },
          {
            "type": "link"
          },
          {
            "type": "link"
          }
        ]
      }
    ]
  }
{% endschema %}
