{%- liquid
  assign section_color = 'footer'
  assign locale_selector = false
  assign currency_selector = false
  assign grid_cols = 12

  if section.settings.show_currency_selector and shop.enabled_currencies.size > 1
    assign currency_selector = true
  endif
  if section.settings.show_locale_selector and shop.published_locales.size > 1
    assign locale_selector = true
  endif

  assign show_grid_border = section.settings.show_grid_border
  assign block_count = section.blocks.size
  if section.settings.show_social
    assign block_count = block_count | plus: 1
  endif

  case block_count
    when 2
      assign desktop_col_span = 'lg:col-span-6'
    when 3
      assign grid_cols = 12
      assign desktop_col_span = 'lg:col-span-4'
    when 4
      assign grid_cols = 12
      assign desktop_col_span = 'lg:col-span-3'
    when 5
      assign grid_cols = 10
      assign desktop_col_span = 'lg:col-span-2'
  endcase

  assign desktop_grid_class = 'lg:grid-cols-' | append: grid_cols
-%}

<style>
:root {
  --color-footer-accent: var(--color-{{ section.settings.color_scheme }}-accent);
  --color-footer-text: var(--color-{{ section.settings.color_scheme }}-text);
  --color-footer-background: var(--color-{{ section.settings.color_scheme }}-background);
  --color-footer-background-hex: var(--color-{{ section.settings.color_scheme }}-background-hex);
  --color-footer-meta: var(--color-{{ section.settings.color_scheme }}-meta);
  --color-footer-text--overlay: var(--color-{{ section.settings.color_scheme }}-text--overlay);
  --color-footer-accent--overlay: var(--color-{{ section.settings.color_scheme }}-accent--overlay);
  --color-footer-accent-placeholder: var(--color-{{ section.settings.color_scheme }}-text-placeholder);
}
</style>


<footer class="bg-{{ section_color }}-background text-{{ section_color }}-text" data-section-id="{{ section.id }}" data-section-type="footer">
  {% if section.settings.show_newsletter %}
    {% if template contains 'customers/' %}
      {% assign section_color = 'tertiary' %}
    {% else %}
      {% assign section_color = section.settings.newsletter_color_scheme %}
    {% endif %}
    {% render 'newsletter',
      section_color: section_color,
      text_size_class: 'text-base',
      section_title: section.settings.newsletter_section_title,
      subheading: section.settings.newsletter_subheading,
  	  bg_image: section.settings.image,
      color_gradient_left: section.settings.color_gradient_left,
      color_gradient_center: section.settings.color_gradient_center,
      color_gradient_right: section.settings.color_gradient_right
    %}
  {% endif %}
  <div class="border-t-grid border-grid-color">
    <div class="grid {{ desktop_grid_class }} bg-border {% if show_grid_border %}gap-gutter{% endif %%}">

      {% for block in section.blocks %}
        {% if block.type == 'menu' %}
          <div class="{{ desktop_col_span }} px-10 py-10"  {{ block.shopify_attributes }}>
            <div class="text-left inline-block">
            {% assign link_list = block.settings.main_linklist %}
            {% if block.settings.show_heading %}
              <h2 class="font-heading text-base mb-4">{{ linklists[link_list].title }}</h2>
            {% endif %}
            <ul class="list-none space-y-1">
              {% for link in linklists[link_list].links %}
                <li>
                  <a href="{{ link.url }}" class="hover:text-{{ section_color }}-accent">
                    {{ link.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
            </div>
          </div>
        {% endif %}
        {% if block.type == 'richtext' %}
          <div class="{{ desktop_col_span }} px-10 py-10"  {{ block.shopify_attributes }}>
            <div class="text-left inline-block">
            {% if block.settings.title != blank%}
              <h2 class="font-heading text-base mb-4">{{ block.settings.title }}</h2>
            {% endif %}
              <div class="rte">
                {{ block.settings.richtext }}
                {% if block.settings.image != blank %}
                  {{ block.settings.image | img_url: '400x' | img_tag }}
                {% endif %}
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}

      {% if section.settings.show_social %}
        {% assign social_style = settings.social_style %}
        <div class="{{ desktop_col_span }} px-10 py-10">
          <div class="text-left inline-block">
            {%- if section.settings.social_title != blank %}
              <h2 class="font-heading text-base mb-4">{{ section.settings.social_title }}</h2>
            {% endif %}
            {% render 'social-icons' with social_style: social_style, link_class: "mb-1", section_color: section_color %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="border-t-grid border-grid-color">
    <div class="section-x-padding py-theme lg:flex lg:flex-wrap lg:items-center lg:justify-between">
      <div class="mb-4 lg:mb-0 space-y-2 text-sm lg:flex-1">
        <p>
          &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: routes.root_url }}.
        </p>
      </div>
      {% if section.settings.show_payment_icons %}
        {% unless shop.enabled_payment_types == empty %}
          <div class="mb-4 md:mb-0 md:w-auto lg:flex-1">
            <h2 class="visually-hidden">{{ 'general.payment.method' | t }}</h2>
            <ul class="-mx-1 -mb-2 lg:text-center">
              {% for type in shop.enabled_payment_types %}
                <li class="inline-block mx-1 mb-2 w-7">
                  {{ type | payment_type_svg_tag: class: 'icon' }}
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endunless %}
      {% endif %}
      {%- if currency_selector or locale_selector -%}
        <div class="flex flex-wrap items-center justify-between lg:justify-end mb-4 lg:mb-0 lg:flex-1">
          {%- form 'localization', data-disclosure-form: '' -%}
            {%- if locale_selector -%}
              <div class="inline-block {% if currency_selector and locale_selector %}mr-4{% endif %}">
                <h2 class="visually-hidden" id="lang-heading">
                  {{ 'general.language.dropdown_label' | t }}
                </h2>
                <div class="relative" data-disclosure-locale>
                  <button type="button" class="text-sm border-b-text border-{{ section_color }}-text py-1" aria-expanded="false" aria-controls="lang-list" aria-describedby="lang-heading" data-disclosure-toggle>
                    {{ form.current_locale.endonym_name }}
                    <span class="inline-block ml-1 w-3 fill-current">
                      {% render 'icon-chevron-down' %}
                    </span>
                  </button>
                  <ul id="lang-List" class="disclosure-list absolute bg-{{ section_color }}-background opacity-0 top-0 lg:left-auto lg:right-0 transform transition-opacity border-text border-theme-color py-2" data-disclosure-list inert>
                    {% for locale in form.available_locales %}
                      <li class="text-sm">
                        <a class="block p-2" href="#" lang="{{ locale.iso_code }}" {% if locale.iso_code == form.current_locale.iso_code %}aria-current="true"{% endif %} data-value="{{ locale.iso_code }}" data-disclosure-option>
                          <span class="{% if locale.iso_code == form.current_locale.iso_code %}border-{{ section_color }}-text border-b-text{% else %}border-transparent border-b-text{% endif %}">{{ locale.endonym_name }}</span>
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                  <input type="hidden" name="locale_code" id="LocaleSelector" value="{{ form.current_locale.iso_code }}" data-disclosure-input/>
                </div>
              </div>
            {%- endif -%}
            {%- if currency_selector -%}
              <div class="inline-block">
                <h2 class="visually-hidden" id="currency-heading">
                  {{ 'general.currency.dropdown_label' | t }}
                </h2>
                <div class="relative" data-disclosure-currency>
                  <button type="button" class="text-sm border-b-text border-{{ section_color }}-text py-1" aria-expanded="false" aria-controls="currency-list" aria-describedby="currency-heading" data-disclosure-toggle>
                    {{ form.current_currency.iso_code }} {%- if form.current_currency.symbol -%}{{ form.current_currency.symbol }}{%- endif -%}
                    <span class="inline-block ml-1 w-3 fill-current">
                      {% render 'icon-chevron-down' %}
                    </span>
                  </button>
                  <ul id="currency-list" class="disclosure-list absolute bg-{{ section_color }}-background opacity-0 top-0 left-0 lg:left-auto lg:right-0 transform transition-opacity border-text border-theme-color py-2" data-disclosure-list inert>
                    {% for currency in form.available_currencies %}
                      <li class="text-sm w-20">
                        <a class="block p-2" href="#" {% if currency.iso_code == form.current_currency.iso_code %}aria-current="true"{% endif %} data-value="{{ currency.iso_code }}" data-disclosure-option>
                          <span class="{% if currency.iso_code == form.current_currency.iso_code %}border-{{ section_color }}-text border-b-text{% else %}border-transparent border-b-text{% endif %}">{{ currency.iso_code }} {%- if currency.symbol -%}{{ currency.symbol }}{%- endif -%}</span>
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                  <input type="hidden" name="currency_code" id="CurrencySelector" value="{{ form.current_currency.iso_code }}" data-disclosure-input/>
                </div>
              </div>
            {%- endif -%}
          {%- endform -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons"
      },
      {
        "type": "header",
        "content": "Language Selector",
        "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
      },
      {
        "type": "checkbox",
        "id": "show_locale_selector",
        "label": "Show language selector",
        "default": true
      },
      {
        "type": "header",
        "content": "Currency Selector",
        "info": "To add a currency, go to your [currency settings.](/admin/settings/payments)"
      },
      {
        "type": "checkbox",
        "id": "show_currency_selector",
        "label": "Show currency selector",
        "default": true
      },
      {
        "type": "header",
        "content": "Social"
      },
      {
        "type": "checkbox",
        "id": "show_social",
        "label": "Show social media"
      },
      {
        "type": "text",
        "id": "social_title",
        "label": "Social heading"
      },
      {
        "type": "header",
        "content": "Newsletter"
      },
      {
        "type": "checkbox",
        "id": "show_newsletter",
        "label": "Show newsletter",
        "default": true
      },
      {
        "type": "text",
        "id": "newsletter_section_title",
        "label": "Heading"
      },
      {
        "type": "richtext",
        "id": "newsletter_subheading",
        "label": "Subheading",
        "default": "<p>Receive special offers and first look at new products.</p>"
      },
      {
        "type": "select",
        "id": "newsletter_color_scheme",
        "label": "Newsletter color scheme",
        "options": [
            { "value": "primary", "label": "Primary"},
            { "value": "secondary", "label": "Secondary"},
            { "value": "tertiary", "label": "Tertiary"}
        ],
        "default":   "secondary"
      },
      {
        "type":      "header",
        "content":   "Custom Background"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image"
      },
      {
        "type": "color",
        "id": "color_gradient_left",
        "label": "Color left"
      },
      {
        "type": "color",
        "id": "color_gradient_center",
        "label": "Color center"
      },
      {
        "type": "color",
        "id": "color_gradient_right",
        "label": "Color right"
      },
      {
        "type":      "header",
        "content":   "Layout"
      },
      {
        "type": "checkbox",
        "id": "show_grid_border",
        "label": "Show grid border",
        "default": false
      },
      {
        "type":      "header",
        "content":   "Colors"
      },
      {
        "type": "select",
        "id": "color_scheme",
        "label": "Color scheme",
        "options": [
            { "value": "primary", "label": "Primary"},
            { "value": "secondary", "label": "Secondary"},
            { "value": "tertiary", "label": "Tertiary"}
        ],
        "default":   "primary"
      }
    ],
    "blocks": [
      {
        "type": "menu",
        "name": "Menu",
        "limit": 2,
        "settings": [
          {
            "type": "link_list",
            "id": "main_linklist",
            "label": "Menu",
            "default": "footer",
            "info": "This menu won't show dropdown items"
          },
          {
            "type": "checkbox",
            "id": "show_heading",
            "label": "Show heading",
            "default": true
          }
        ]
      },
      {
        "type": "richtext",
        "name": "Richtext",
        "limit": 2,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "richtext",
            "label": "Text"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ]
  }

{% endschema %}
