{%- liquid
  assign section_color = section.settings.color_scheme
  assign indent_image = section.settings.indent_image
  assign show_author = section.settings.show_author
  assign show_date = section.settings.show_date
  assign show_tags = section.settings.show_tags
  assign ratio = section.settings.crop | plus: 0
  assign image_width_desktop = section.settings.image_width_desktop
  assign show_next_previous_links = section.settings.show_next_previous_links
  if article.tags.size > 0 and show_tags
    assign show_tags_and_tags_present = true
  endif
  assign content_grid_class = 'lg:col-span-12'
  assign sidebar_grid_class = ''
  case image_width_desktop
    when 'full'
      assign show_sidebar = false
      assign content_grid_class = 'lg:col-span-12'
      assign sidebar_grid_class = ''
    when 'one_half'
      assign show_sidebar = true
      assign content_grid_class = 'lg:col-span-6'
      assign sidebar_grid_class = 'lg:col-span-6'
    when 'one_third'
      assign show_sidebar = true
      assign content_grid_class = 'lg:col-span-8'
      assign sidebar_grid_class = 'lg:col-span-4'
  endcase
  if comment.status == 'pending'
    assign number_of_comments = article.comments_count | plus: 1
  else
    assign number_of_comments = article.comments_count
  endif
-%}

{%- if show_tags_and_tags_present -%}
  {%- capture post_tags -%}
    <ul class="m-0 p-0 -mx-1" aria-label="{{ 'blogs.article.tags' | t }}">
      {% for tag in article.tags %}
        <li class="inline-block px-1">
          <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="article__grid-tag">#{{ tag }}</a>
        </li>
      {% endfor %}
    </ul>
  {%- endcapture -%}
{%- endif -%}

{%- capture post_meta -%}
<div class="lg:flex py-4">
  {%- if show_author -%}
    <p>{{ 'blogs.article.by_author' | t: author: article.author }}</p>
  {%- endif -%}
  {%- if show_date and show_author -%}
    <span class="hidden lg:inline-block lg:mx-2">&#183;</span>
  {%- endif -%}
  {%- if show_date -%}
    <p class="mt-1 lg:mt-0">
      {{ article.published_at | time_tag: format: 'month_day_year' }}
    </p>
  {%- endif -%}
</div>
{%- endcapture -%}

{% if show_next_previous_links %}
  {% if blog.next_article or blog.previous_article %}
  {% liquid
    if image_width_desktop == 'full'
      assign show_sidebar = true
      assign content_grid_class = 'lg:col-span-9'
      assign sidebar_grid_class = 'lg:col-span-3'
    endif
  %}
  {% capture next_prev_links %}
    <div class="bg-{{ section_color }}-background text-{{ section_color }}-text section-x-padding py-theme text-right text-base">
      <ul class="pagination flex items-center">
        <li class="w-28 md:w-1/3 text-left mr-auto">
          {% if blog.next_article %}
            <a class="hover:text-{{ section_color }}-accent inline-flex items-center justify-center {% if settings.links_show_underline %}border-b-text border-{{ section_color }}-text hover:border-{{ section_color }}-accent pb-1{% endif %}" href="{{ blog.next_article }}" title="{{ 'blogs.article.newer_post' | t }}">
              {% if settings.links_show_arrow %}&larr;&nbsp;{% endif %}
              <span class="{% if settings.links_uppercase %}uppercase{% endif %}">{{ 'blogs.article.newer_post' | t }}</span>
            </a>
          {% endif %}
        </li>
        <li class="w-28 md:w-1/3 ml-auto text-right">
          {% if blog.previous_article %}
            <a class="hover:text-{{ section_color }}-accent inline-flex items-center justify-center {% if settings.links_show_underline %}border-b-text border-{{ section_color }}-text hover:border-{{ section_color }}-accent pb-1{% endif %}" href="{{ blog.previous_article }}" title="{{ 'blogs.article.older_post' | t }}">
              <span class="{% if settings.links_uppercase %}uppercase{% endif %}">{{ 'blogs.article.older_post' | t }}</span>
              {% if settings.links_show_arrow %}&nbsp;&rarr;{% endif %}
            </a>
          {% endif %}
        </li>
      </ul>
    </div>
  {% endcapture %}
  {% endif %}
{% endif %}

<article class="article text-{{ section_color }}-text bg-{{ section_color }}-background">
  <div class="grid grid-cols-1 lg:grid-cols-12  bg-border gap-gutter">
    {%- if article.image != blank -%}
    <div class="lg:col-span-12 relative full-h bg-{{ section_color }}-background {% unless settings.fill_image_to_border_edge %}p-2 lg:p-4{% endunless %} {% unless image_width_desktop == 'full' %}lg:hidden{% endunless %}">
      <div class="relative {% if indent_image %}p-8 lg:p-16{% endif %}">
        {% render 'image-crop' with
          image: article.image,
          ratio: ratio
        %}
      </div>
    </div>
    {%- endif -%}
    <div class="bg-{{ section_color }}-background text-{{ section_color }}-text {{ content_grid_class }}">
      <div class="section-x-padding py-theme lg:max-w-4xl">
        <h1 class="font-heading {{ settings.template_heading_size }} break-words">{{ article.title }}</h1>
        {%- if show_author or show_date %}
          {{ post_meta }}
        {% endif %}
        <div class="rte mt-4">
          {{ article.content }}
        </div>
        {%- if article.tags.size > 0 and show_tags -%}
        <div class="mt-4">
          {{ post_tags }}
        </div>
        {%- endif -%}
        {% comment %}theme-check-disable LiquidTag{% endcomment %}
        {%- if section.settings.show_share_buttons -%}
          {%- capture share_link -%}{{ shop.url }}{{ article.url }}{%- endcapture -%}
          {%- capture share_title -%}{{ article.title | url_param_escape }}{%- endcapture -%}
          {%- if article.image -%}
            {%- capture share_img -%}{{ article.image.src | img_url: '1024x1024' }}{%- endcapture -%}
          {%- endif -%}
          {% render 'social-sharing', share_title: share_title, share_permalink: share_link, share_image: share_img, section_color: section_color %}
        {%- endif -%}
        {% comment %}theme-check-enable LiquidTag{% endcomment %}
      </div>
      {% if show_next_previous_links %}
        {% if blog.next_article or blog.previous_article %}
          <div class="border-t-grid border-grid-color lg:hidden">
            {{ next_prev_links }}
          </div>
        {% endif %}
      {% endif %}
      {% if blog.comments_enabled? %}
        {% if number_of_comments > 0 %}
        <div class="section-x-padding py-theme border-t-grid border-grid-color">
        <h3 class="font-heading {{ settings.secondary_heading_size }}">{{ 'blogs.comments.comments_with_count' | t: count: number_of_comments }}</h3>
        {% paginate article.comments by 5 %}
          <div id="comments" class="mt-4">
            <ul class="comments space-y-2 lg:space-y-4">
              {% if comment.status == 'pending' %}
                <li id="{{ comment.id }}" class="comment">
                  {% render 'comment', comment: comment %}
                </li>
              {% endif %}
              {% for comment in article.comments %}
                <li id="{{ comment.id }}" class="comment">
                  {% render 'comment', comment: comment %}
                </li>
              {% endfor %}
            </ul>
            {%- if paginate.pages > 1 -%}
              {% render 'pagination-comments', paginate: paginate, section_color: section_color %}
            {%- endif -%}
          </div>
        {% endpaginate %}
        </div>
        {% endif %}
        <div class="section-x-padding py-theme border-t-grid border-grid-color">
          {% comment %}theme-check-disable LiquidTag{% endcomment %}
        {% form 'new_comment', article %}
          {%- assign formId = 'CommentForm' -%}
          {%- assign post_message = 'blogs.comments.success' -%}
          {%- if blog.moderated? and comment.status == 'pending' -%}
            {%- assign post_message = 'blogs.comments.success_moderated' -%}
          {%- elsif comment.status == 'unapproved' or comment.status == 'spam' -%}
            {%- assign post_message = 'blogs.comments.unapproved' -%}
          {%- endif -%}
          {% render 'form-status', form: form, form_id: formId, success_message: post_message, section_color: section_color %}
          <h3 class="font-heading {{ settings.secondary_heading_size }}">{{ 'blogs.comments.title' | t }}</h3>
          <label for="CommentAuthor" class="mt-4 block" >
            {{ 'blogs.comments.name' | t }}
          </label>
          <input type="text"
                name="comment[author]"
                id="CommentAuthor"
                class="w-full py-1 bg-transparent border-b-text border-current {% if form.errors contains 'author' %}border-theme-color{% endif %}"
                value="{{ form.author }}"
                autocapitalize="words">
          <label for="CommentEmail" class="mt-4 block">
            {{ 'blogs.comments.email' | t }}
          </label>
          <input type="email"
                name="comment[email]"
                id="CommentEmail"
                class="w-full py-1 bg-transparent border-b-text border-current {% if form.errors contains 'email' %}border-theme-color{% endif %}"
                value="{{ form.email }}"
                spellcheck="false"
                autocomplete="off"
                autocapitalize="off">
          <label for="CommentBody" class="mt-4 block">
            {{ 'blogs.comments.message' | t }}
          </label>
          <textarea
            name="comment[body]"
            id="CommentBody"
            class="block mt-1 p-2 w-full border-text border-current text-sm bg-transparent {% if form.errors contains 'body' %}border-theme-color{% endif %}"
            >
            {{- form.body -}}
          </textarea>
          {% if blog.moderated? %}
            <p>{{ 'blogs.comments.moderated' | t }}</p>
          {% endif %}
          <input type="submit" class="mt-4 cursor-pointer px-8 py-2 w-full lg:w-2/3 {% render 'button-style', section_color: section_color %}  {% render 'button-color', section_color: section_color %}" value="{{ 'blogs.comments.post' | t }}{% if settings.buttons_show_arrow %}&nbsp;&rarr;{% endif %}">
        {% endform %}
        {% comment %}theme-check-enable LiquidTag{% endcomment %}
        </div>
      {% endif %}
    </div>
    {% if show_sidebar %}
    <div class="hidden lg:block  bg-{{ section_color }}-background text-{{ section_color }}-text {{ sidebar_grid_class }}">
      {%- if article.image != blank and image_width_desktop != 'full' -%}
      <div class="hidden lg:block {% if show_author or show_date or show_tags_and_tags_present %}border-b-grid border-grid-color{% endif %} relative full-h bg-{{ section_color }}-background {% unless settings.fill_image_to_border_edge %}p-2 lg:p-4{% endunless %} lg:-mb-theme-width">
        <div class="relative {% if indent_image %}p-8 lg:p-16{% endif %}">
          {% render 'image-crop' with
            image: article.image,
            ratio: ratio,
            crop: section.settings.crop
          %}
        </div>
      </div>
      {%- endif -%}
      {% if show_next_previous_links %}
        {% if blog.next_article or blog.previous_article %}
         {{ next_prev_links }}
        {% endif %}
      {% endif %}
    {% endif %}
  </div>
</article>

{%- if section.settings.override_header_footer_color_scheme -%}
  {%- render 'header-footer-color-scheme-override', section_color: section_color -%}
{%- endif -%}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ shop.url | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      {% assign image_size = article.image.width | append: 'x' %}
      "image": [
        {{ article | img_url: image_size | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateModified": {{ article.updated_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      "name": {{ shop.name | json }}
    }
  }
</script>

{% schema %}
  {
    "name": "Blog post",
    "settings": [
      {
        "type": "select",
        "id": "crop",
        "label": "Crop image",
        "options": [
          {
            "value": "0",
            "label": "No crop"
          },
          {
            "value": "0.8",
            "label": "Portrait"
          },
          {
            "value": "1",
            "label": "Square"
          },
          {
            "value": "1.3",
            "label": "Landscape"
          },
          {
            "value": "2.39",
            "label": "Super wide"
          },
          {
            "value": "4.0",
            "label": "Letterbox"
          }
        ],
        "default": "2.39"
      },
      {
        "type": "select",
        "id": "image_width_desktop",
        "label": "Image width on desktop",
        "options": [
          {
            "value": "full",
            "label": "Full"
          },
          {
            "value": "one_half",
            "label": "One half"
          },
          {
            "value": "one_third",
            "label": "One third"
          }
        ],
        "default": "full"
      },
      {
        "type": "checkbox",
        "id": "indent_image",
        "label": "Indent image",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_author",
        "label": "Show author",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social media sharing buttons",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_tags",
        "label": "Show tags",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_next_previous_links",
        "label": "Show links to next / previous articles",
        "default": true
      },
      {
        "type":      "header",
        "content":   "Color"
      },
      {
        "type": "select",
        "id": "color_scheme",
        "label": "Color scheme",
        "options": [
           { "value": "primary", "label": "Primary"},
           { "value": "secondary", "label": "Secondary"},
           { "value": "tertiary", "label": "Tertiary"}
        ]
      },
      {
        "type": "checkbox",
        "id": "override_header_footer_color_scheme",
        "label": "Use this color scheme for header and footer",
        "info": "This will only apply to the blog post template",
        "default": false
      }
    ]
  }
{% endschema %}
