{%- assign section_color = 'primary' -%}
<section class="bg-{{ section_color }}-background text-{{ section_color }}-text border-t-grid border-grid-color">
  <div class="max-w-sm mx-auto w-full flex items-center justify-center text-center px-2 lg:px-4 py-theme">
    <div class="w-full break-words">
      <h1 class="font-heading text-2xl">
      {% if section.settings.logo != blank %}
        {%- assign logo = section.settings.logo -%}
        {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
        <img src="{{ logo | img_url: image_size }}"
            class="mx-auto"
            srcset="{{ logo | img_url: image_size }} 1x, {{ logo | img_url: image_size, scale: 2 }} 2x, {{ logo | img_url: image_size, scale: 3 }} 3x"
            alt="{{ logo.alt | default: shop.name }}"
        >
      {% else %}
        {{ shop.name }}
      {% endif %}
      </h1>

      {% comment %}
        Opening soon text
      {% endcomment %}
      {% unless section.settings.title == blank %}
      <h2 class="font-heading text-2xl mt-4">{{ section.settings.title | escape }}</h2>
      {% endunless %}

      {% unless shop.password_message == blank %}
        <div class="mt-4">
          {{ shop.password_message }}
        </div>
      {% endunless %}

      {% if section.settings.newsletter_enable %}
        <div class="mt-8">
          {% if section.settings.newsletter_form_heading != blank %}
          <div class="text-base rte">
            {{ section.settings.newsletter_form_heading }}
          </div>
          {%- endif -%}
        </div>

        <div class="mt-4">
        {% form 'customer', id: 'ContactPassword', class: 'contact-form form-single-field' %}
          {%- assign formId = 'PasswordNewsletterForm' -%}
          <input type="hidden" name="contact[tags]" value="prospect, password page">

          {%- if form.posted_successfully? -%}
          <p class="form-message text-primary-accent" tabindex="-1" data-form-status>
            {{ 'general.password_page.signup_form_success' | t }}
          </p>
          {%- else -%}
          <div class="mt-4">
            <label for="{{ formId }}-email" class="visually-hidden">{{ 'general.password_page.signup_form_email_label' | t }}</label>
            <input type="email"
              class="placeholder-current font-body border-b-text border-current w-full block bg-transparent pb-1"
              name="contact[email]"
              id="{{ formId }}-email"
              value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
              placeholder="{{ section.settings.newsletter_placeholder | escape }}"
              autocorrect="off"
              autocapitalize="off">

            <button class="mt-4 cursor-pointer btn px-8 py-2 w-full  {% render 'button-style', section_color: section_color %}  {% render 'button-color', section_color: section_color %}" type="submit" name="commit" id="Subscribe">
              <span class="{% if settings.links_uppercase %}uppercase{% endif %} whitespace-nowrap">{{ section.settings.newsletter_button_text | escape }}</span>
            </button>
          </div>
          {%- endif -%}

          {%- if form.errors contains 'email' -%}
            <span id="{{ formId }}-email-error" class="input-error-message text-primary-accent block mt-4">
              <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
              <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
            </span>
          {%- endif -%}

        {% endform %}
        </div>
      {% endif %}

      {% if section.settings.show_share_buttons %}
        {% render 'social-sharing', section_color: 'primary', align: 'center' %}
      {% endif %}

    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Content",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 20,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Opening Soon"
      },
      {
        "type": "header",
        "content": "Newsletter"
      },
      {
        "type": "checkbox",
        "id": "newsletter_enable",
        "label": "Show newsletter signup",
        "default": true
      },
      {
        "type": "richtext",
        "id": "newsletter_form_heading",
        "label": "Newsletter form heading",
        "default": "<p>Be the first to know when we launch.</p>",
        "info": "[Tell your visitors about a launch day discount](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)."
      },
      {
        "type": "text",
        "id": "newsletter_placeholder",
        "label": "Newsletter placeholder text",
        "default": "Email address"
      },
      {
        "type": "text",
        "id": "newsletter_button_text",
        "label": "Newsletter button text",
        "default": "Submit"
      },
      {
        "type": "header",
        "content": "Social sharing"
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social media sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
