<style>
  {% if section.settings.image != blank %}
    #Popup-{{ section.id }}{
      background-image: url({{ section.settings.image | img_url: '2000x' }});
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  {% else %}
    {% if section.settings.color_gradient_left and section.settings.color_gradient_right %}
      #Popup-{{ section.id }}{
        background: linear-gradient(45deg, {{ section.settings.color_gradient_left }} 0%, {{ section.settings.color_gradient_center }} 50%, {{ section.settings.color_gradient_right }} 100%);
      }
    {% endif %}
  {% endif %}
</style>

{%- assign section_color = section.settings.color_scheme -%}
{% unless section.settings.display_mode == 'disabled' %}
{%- assign text_size_class = section.settings.text_size -%}
<section id="Popup-{{ section.id }}"
         x-data="ThemeSection_{{ section.id }}()"
         x-cloak
         x-init="frequency = {{ section.settings.frequency }}, delay = {{ section.settings.delay }}, mounted()"
         :class="{ 'translate-y-0-important' : show }"
         class="popup fixed right-0 bottom-0 left-0 pt-8 lg:pt-0 bg-{{ section_color }}-background text-{{ section_color }}-text z-70 border-t-grid border-grid-color transition-transform duration-300 in-expo transform translate-y-full"  data-section-type="popup"   data-section-id="{{ section.id }}">
  <button @click="closePopUp($event)" class="block p-1 w-8 ml-auto absolute top-2 right-2">
    <span class="visually-hidden">{{ 'general.accessibility.close_modal' | t }}</span>
    <span class="inline-block w-5 h-5">{% render 'icon-close' %}</span>
  </button>
  <div class="section-x-padding py-theme">
    <div class="{{ text_size_class }} lg:w-2/3">
      {%- if section.settings.title != blank -%}
        <h2 class="font-heading {{ settings.base_heading_size }}">{{ section.settings.title | escape }}</h2>
      {%- endif %}

      {%- if section.settings.text != blank -%}
        <p class="rte {% if section.settings.title != blank %}mt-2{% endif %}">{{ section.settings.text }}</p>
      {%- endif -%}
    </div>

    <div class="mt-4 lg:w-1/3">
      {%- if section.settings.call_to_action == 'newsletter' -%}
        {%- form 'customer' %}
          {%- if form.errors and template.suffix != 'contact' -%}
          <div x-ref="form-errors" class="text-{{ section_color }}-accent">
          {{ form.errors | default_errors }}
          </div>
          {%- endif-%}

          {%- if form.posted_successfully? -%}
          <p x-ref="form-success" class="form-message">{{ 'general.newsletter_form.confirmation' | t }}</p>
          {%- else -%}
          <input type="hidden" name="contact[tags]" value="newsletter">
          <div class="lg:flex items-center">
            <label class="visually-hidden" for="Email-{{ section.id }}">{{ 'general.newsletter_form.email_placeholder' | t }}</label>
            <input type="email"
              class="font-body border-b-text border-{{ section_color }}-text w-full block bg-transparent pb-1"
              name="contact[email]"
              id="Email-{{ section.id }}"
              value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
              placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
              autocorrect="off"
              autocapitalize="off">

            <button class="mt-2 lg:mt-0 lg:ml-2 pb-1 font-body align-top inline-flex items-center justify-center  hover:text-{{ section_color }}-accent {% if settings.links_show_underline %}border-b-text border-{{ section_color }}-text  hover:border-{{ section_color }}-accent pb-1{% endif %}" type="submit" name="commit" id="Popup-Subscribe">
              <span class="{% if settings.links_uppercase %}uppercase{% endif %}">{{ 'general.newsletter_form.submit' | t }}{% if settings.links_show_arrow %}&nbsp;&rarr;{% endif %}</span>
            </button>
          </div>
          {%- endif -%}
        {%- endform -%}
      </div>
      {%- else -%}
        {%- assign cta_text = section.settings.cta_text -%}
        {%- assign cta_url = section.settings.cta_link -%}
        <a href="{{ cta_url }}" class="inline-flex justify-center items-center text-base px-8 py-2 {% render 'button-style', section_color: section_color %}  {% render 'button-color', section_color: section_color %} ">
          <span class="{% if settings.button_uppercase %}uppercase{% endif %}">{{ cta_text }}{% if settings.buttons_show_arrow %}&nbsp;&rarr;{% endif %}</span>
        </a>
      {%- endif -%}
    </div>
  </div>
</section>
{% endunless %}

{% schema %}
{
  "name": "Popup",
  "class": "relative z-60",
  "settings": [
    {
       "type": "select",
       "id": "display_mode",
       "label": "Display mode",
       "options": [
          { "value": "disabled", "label": "Disabled"},
          { "value": "enabled", "label": "Enabled"}
       ],
       "default": "disabled"
    },
    {
      "type":      "range",
      "id":        "delay",
      "min":       2,
      "max":        30,
      "step":       1,
      "label":     "Delay",
      "unit":      "sec",
      "default":   4,
      "info": "Delay won't be applied when inside theme editor."
    },
    {
      "type":      "range",
      "id":        "frequency",
      "min":       2,
      "max":        30,
      "step":       1,
      "label":     "Frequency",
      "unit":      "day",
      "default":   30,
      "info": "Number of days before a closed popup reappears."
    },
    {
      "type":      "header",
      "content":   "Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Receive special offers and first look at new products.</p>"
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "Text size",
      "options": [
        { "value": "text-sm", "label": "S"},
        { "value": "text-base", "label": "M"},
        { "value": "text-lg", "label": "L"},
        { "value": "text-xl", "label": "XL"}
      ],
      "default":   "text-base"
    },
    {
       "type": "select",
       "id": "call_to_action",
       "label": "Call to action",
       "options": [
          { "value": "newsletter", "label": "Newsletter signup"},
          { "value": "button", "label": "Button"}
       ],
       "default": "newsletter",
       "info": "Customers who subscribe will have their email address added to the “accepts marketing” [customer list](/admin/customers?query=&accepts_marketing=1)."
    },
    {
      "type": "url",
      "id": "cta_link",
      "label": "Button link"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "Button text",
      "default": "Shop Now"
    },
    {
      "type":      "header",
      "content":   "Color"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Color scheme",
      "options": [
          { "value": "primary", "label": "Primary"},
          { "value": "secondary", "label": "Secondary"},
          { "value": "tertiary", "label": "Tertiary"}
      ],
      "default":   "secondary"
    },
    {
      "type":      "header",
      "content":   "Custom Background"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background image"
    },
    {
      "type": "color",
      "id": "color_gradient_left",
      "label": "Color left"
    },
    {
      "type": "color",
      "id": "color_gradient_center",
      "label": "Color center"
    },
    {
      "type": "color",
      "id": "color_gradient_right",
      "label": "Color right"
    }
  ]
}
{% endschema %}
